/**************/
/* Map Styles */
/**************/

svg {
	border: 1px solid black;
}

path {
	stroke-width: 6;
}

ellipse {
	fill: none;
}

ellipse.fill, rect.fill {
	fill: black;
}

.interchange {
	fill: gainsboro;
}

.station rect {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .5s all linear 0s;
	z-index: 2;
}

.station:hover rect {
	stroke-dasharray: 500;
	stroke-dashoffset: 0;
	transition: 1s all linear 0s;
}

.station_font {
	cursor: pointer;
}

.alamein_line {
	stroke: purple;
}

.sandringham_line {
	stroke: green;
}

.glen_waverly_line {
	stroke: red;
}

.header_image {
	height: 200px;
	width: auto;
}

.submit_clear_buttons {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#submit, #clear {
	font-size: 24px;
}

#route {
	margin-left: 25%;
	margin: 50px 0 100px 25%;
}


