/**************/
/* Map Styles */
/**************/

body {
	font-family: "Arial", sans-serif;
}

svg {
	/*border: 1px solid black;*/
}

path {
	stroke-width: 6;
}

ellipse {
	fill: none;
}

ellipse.fill, rect.fill {
	fill: chocolate;
}

.interchange {
	fill: gainsboro;
}

.route_start_end {
	width: 25%;
}

.station rect {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .5s all linear 0s;
	z-index: 2;
}

.station:hover rect {
	stroke-dasharray: 500;
	stroke-dashoffset: 0;
	transition: 1s all linear 0s;
}

.station_font {
	cursor: pointer;
}

.alamein_line {
	stroke: purple;
}

.sandringham_line {
	stroke: green;
}

.glen_waverly_line {
	stroke: red;
}

/**********/
/* Header */
/**********/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_image {
	height: 100px;
	width: auto;
}

.station_label_container {
	display: flex;
	align-items: center;
}

.glen_waverly, .sandringham, .alamein {
	width: 40px;
	height: 20px;
	margin: 1px 10px 1px 1px;
}

.glen_waverly {
	background-color: red;
}

.sandringham {
	background-color: green;
}

.alamein {
	background-color: purple;
}

.submit_clear_buttons {
	display: flex;
	align-items: center;
}

#submit, #reset {
	font-size: 24px;
}

#reset {
	margin-left: 10px;
}

#origin {
	display: flex;
	margin-bottom: 10px;
}

#origin p {
	margin: 0;
	background-color: mistyrose;
}

#origin span {
	margin-left: 10px;
}

#destination {
	display: flex;
}

#destination p {
	margin: 0;
	background-color: powderblue;
}

#destination span {
	margin-left: 10px;
}

#route {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#route h2 {
	flex-grow: 1;
}

#num_stops {
	font-size: 20px;
	flex-grow: 1;
}

#journey {
	flex-grow: 3;
	font-size: 18px;
}




