/**************/
/* Map Styles */
/**************/

svg {
	border: 1px solid black;
}

rect {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	/*pointer-events: all;*/
	transition: .5s all linear 0s;
	z-index: 2;
}

.station:hover rect {
	stroke-dasharray: 500;
	stroke-dashoffset: 0;
	transition: 1s all linear 0s;
}

.station_font {
	cursor: pointer;
}

.alamein_line {
	stroke: purple;
}

.sandringham_line {
	stroke: green;
}

.glen_waverly_line {
	stroke: red;
}

.header_image {
	height: 400px;
	width: auto;
}

.lines_collection {
	display: flex;
	flex-direction: column;
	/*align-items: left;*/
	margin-top: 50px;
	border: 1px solid black;
}

.line {
	width: 100%;
	border: 1px solid black;
}

#alamein ul {
	display: flex;
	justify-content: flex-end;
}

#glen_waverly ul {
	display: flex;
	justify-content: flex-start;
}

#sandringham ul {
	display: flex;
}

#sandringham ul li:first-child {
	/*margin-left: 25.5%;*/
	margin-left: 25%;
}

.line ul {
	width: 100%;
	list-style-type: none;
	border: 1px solid black;
	padding-left: 0;
}

.line h2 {
	width: 200px;
	border: 1px solid black;
}

.line ul li {
	/*width: 10.75%;*/
	width: 12.5%;
}

.line .link {
	width: 2%;
	height: 10px;
}

.line ul li button {
	width: 100%;
	font-size: 15px;
}

.line ul li button.start {
	background-color: red;
	transition: background-color 1s;
}

.line ul li button.end {
	background-color: blue;
	transition: background-color 1s;
}

.line ul li button.highlight {
	background-color: green;
	transition: background-color 1s;
}

.submit_clear_buttons {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#submit, #clear {
	font-size: 24px;
}

#route {
	margin-left: 25%;
	margin: 50px 0 100px 25%;
}

	.subway-map
    {
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: white;
    }


